* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 400px;
  background-image: url("https://thumbs.dfs.ivi.ru/storage9/contents/2/9/b4f9e65a94dbf7dbe8aa72396d6476.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 90vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.caixa{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: 0;
}

button {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  background-color: #eecc37;
  color: #fff;
  box-shadow: 0 5px 0 #b39204;
}
button:hover {
  background-color: #ebb44f;
  color: #fff;
  box-shadow: 0 5px 0 #c0951e;
}
button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

h2 {
  color: #ffffff;
  font-size: 20px;
}
